@inject IHttpContextAccessor ContextAccessor;

@using Microsoft.AspNetCore.Mvc.TagHelpers
@using URLShortener.WebApi.Enums
@model IEnumerable<URLShortener.WebApi.Data.Dtos.UrlInfoDto>

@{
    ViewData["Title"] = "ViewTable";

    var userId = ContextAccessor.HttpContext.Session.GetString("Id");
    var userName = ContextAccessor.HttpContext.Session.GetString("Name");
    var userRole = ContextAccessor.HttpContext.Session.GetString("Role");
}

<h1>ViewTable</h1>

<p>
    @if (userId != null && userName != null)
    {
        <a asp-action="Create">Add new Url</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OriginalString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortedString)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.OriginalString)>@Html.DisplayFor(modelItem => item.OriginalString)</a>
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.OriginalString)>@Html.DisplayFor(modelItem => item.ShortedString)</a>
            </td>
            @if (userId != null && 
                 userName != null)
            {
                if (item.CreatedBy == userName || 
                    userRole == UserRoles.Admin.ToString())
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            }
        </tr>
}
    </tbody>
</table>