@inject ShortUrlsTableService ShortUrlsTableService;
@inject UserService UserService;
@inject IHttpContextAccessor ContextAccessor;

@using URLShortener.WebApi.Services
@model URLShortener.WebApi.Models.UrlInfoDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @{
                var userName = UserService.GetUserById((int)ContextAccessor.HttpContext.Session.GetInt32("Id")).Result.Name;
                var urlInfoDto = await ShortUrlsTableService.GetById(@Model.Id);
            }
            <span>
                @urlInfoDto.CreatedAt
            </span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            <span>
                @urlInfoDto.UpdatedAt
            </span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalString);
        </dt>
        <dd class="col-sm-10">
            <span>
                @urlInfoDto.OriginalString
            </span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortedString)
        </dt>
        <dd class="col-sm-10">
            <span>
                @urlInfoDto.ShortedString
            </span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            <span>
                @userName
            </span>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>